################# Misc

bin/
obj/

# Befunge Programs
*.bf

################# Android

SdlFungeoid/local.properties
SdlFungeoid/app/build
SdlFungeoid/app/.externalNativeBuild
.gradle

# IntelliJ
*.iml
SdlFungeoid/.idea/workspace.xml
SdlFungeoid/.idea/tasks.xml
SdlFungeoid/.idea/gradle.xml
SdlFungeoid/.idea/assetWizardSettings.xml
SdlFungeoid/.idea/dictionaries
SdlFungeoid/.idea/libraries
# Android Studio 3 in .gitignore file.
SdlFungeoid/.idea/caches
SdlFungeoid/.idea/modules.xml
# Comment next line if keeping position of elements in Navigation Editor is
# relevant for you
SdlFungeoid/.idea/navEditor.xml

################# C

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
